@import 'reset';

#app {
  padding: 5px;
}

h1 {
  font-size: 1.5em;
  margin: 1.5em 0;
  margin-left: 10px;
}

.center {
  font-style: italic;
  margin-left: 10px;
}

.start-state {
  border: 1px solid black;
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.on-state {
  border: 1px solid black;
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  background-color: black;
  color: white;
  margin-bottom: 20px;
}
