.parent {
  display: flex;
  height: 300px; /* Or whatever */
  background-color: #0066ff;
  margin: 10px;
}

.parent *, .parent-2 * {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}


.child {
  background-color: #3385ff;
}

.childThree {
  background-color: #3399ff;
}

.childFive {
  background-color: #d5dadd;
}

.childSix {
  background-color: #e8e8e8;
}

.childFour {
  background-color: #b8c1c6;
}

.childTwo {
  background-color: #4d94ff;
}
