.parent {
  display: flex;
  height: 300px; /* Or whatever */
  background-color: blue;
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
  background-color: yellow;
}

.childTwo {
  width: 200px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
  background-color: yellow;
}


.title {
  background-color: red;
}
