.left-col {
  background-color: #4CAF50;
  border-radius: 15px 15px 0 0;
  box-shadow: 1px 3px 5px #888888;
  height: 400px;
  margin-top: 15px;
  width: 100%;
}

.left-col h1, .left-col p {
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 0 0 5px;
  text-align: center;
}

.body-list {
  color: white;
  display: block;
  text-align: center;
}
